.event-list-container {
    margin-top: 32px;
}

.event-list-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #2d3748;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.event-list-no-events {
    color: #9b2c2c;
    font-size: 16px;
    text-align: center;
}

.event-list-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.event-list-item {
    display: flex;
    flex-direction: column;
    background-color: #edf2f7;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.event-list-item:hover {
    background-color: #e2e8f0;
    // transform: translateY(-5px);
}

.event-list-item-title {
    font-size: 20px;
    font-weight: 700;
    color: #2b6cb0;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.event-list-item-time {
    font-size: 16px;
    color: #4a5568;
    margin-bottom: 10px;
}

.event-list-item-description {
    font-size: 16px;
    color: #4a5568;
    line-height: 1.4;
}

.event-list-item-delete-btn {
    background-color: transparent;
    border: none;
    color: #e53e3e;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    margin-top: 12px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.event-list-item-delete-btn:hover {
    color: #c53030;
    transform: scale(1.025);
}

  
  .dark .event-list-title,
  .dark .event-list-item-title {
    color: #edf2f7;
  }
  
  .dark .event-list-item {
    background-color: #2d3748;
  }
  
  .dark .event-list-item-time,
  .dark .event-list-item-description {
    color: #edf2f7;
  }
  
  .dark .event-list-item-delete-btn {
    color: #e53e3e;
  }
  
  .dark .event-list-item-delete-btn:hover {
    color: #c53030;
  }
  